.DS_Store
*.env
*/__pycache__

spring-app/target
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
spring-app/.apt_generated
spring-app/.classpath
spring-app/.factorypath
spring-app/.project
spring-app/.settings
spring-app/.springBeans
spring-app/.sts4-cache

### IntelliJ IDEA ###
.idea
spring-app/.iws
spring-app/.iml
spring-app/.ipr

### NetBeans ###
spring-app/nbproject/private/
spring-app/nbbuild/
spring-app/dist/
spring-app/nbdist/
/spring-app/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

mysql/data
mysql/log